@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  font-family: "SF Pro Text";
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container{
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}


/* HoverCard.css */

.hover-card {
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.hover-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2172;
  transform: translate(-100%, -100%);
  transition: transform 0.5s ease;
  z-index: 0;
}

.hover-card:hover::before {
  transform: translate(0, 0);
}

.hover-card > .p-6 {
  position: relative;
  z-index: 1;
}


.icon{
  border: 1px solid #ebebeb;
  width: 78px;
  height: 78px;
  color:#2a2172;
  border-radius: 100%;
  background: #ffffff;
  font-size: 28px;
  margin-top: -65px;
  display: flex;
    align-items: center;
}

/* .banner-contact{
  background-image: url(../../public/bg-image-contact.jpg);
  opacity: 0.9;
}
.banner-contact::after{
  background-color: #00010c;

} */


.banner-contact {
  position: relative;
  background-image: url(../../public/bg-image-contact.jpg);
  background-size: cover;
  background-position: center;
}

.banner-contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  opacity: 0.5;
}



.banner-product {
  position: relative;
  background-image: url(../../public/lift-3.jpg);
  background-size: cover;
  background-position: center;
}

.banner-product::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  opacity: 0.5;
}

.banner-about{
  position: relative;
  background-image: url(../../public/landingLift.png);
  background-size: cover;
  background-position: center;
}

.banner-about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  opacity: 0.5;
}